.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form{
  background-color: #dfe5ec;
  border-radius: 5px;
  display: flex;
  gap: 1px;
  padding: 1px;
  @media (max-width: 650px) {
    flex-direction: column;
  }
}
.custom-label{
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 100%;
}
.custom-label:hover{
  cursor: pointer;
}
.custom-label:first-child{
  border-radius: 5px 0 0 5px;
}
.custom-label:last-child{
  border-radius: 0 5px 5px 0;
}
.custom-label:has(input:checked){
  background-color: #2196F3;
  color: #fff;
}
